header {
	max-height: 130px;
}

.heading {
	padding: 0px;
	margin-top: 0px;
}

.navbar-header.logo {
	margin-top: 30px;
}

ul.nav.navbar-nav {
	margin-top: 40px;
}

a:hover {
	color: #a80000;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#body-principal{
	background-image: url("https://www.teahub.io/photos/full/65-652448_caballeros-del-zodiaco-dorados.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: auto;
	padding: 0;
	background-size: cover;   
	background-position: center;
	-webkit-user-select: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.footer{
	background-color:cornflowerblue;
	bottom: 0px;
	position: relative;
	text-align: center;
	width: 100%;
	color: black;
}

.footer-copyright{
	background-color:black;
	bottom: 0px;
	position: relative;
	text-align: center;
	width: 100%;
	color: white;
} 

#contact{
    color: black !important;
}
    
#imagen_1{
    margin: 15px;
    padding: 0;
    height: 380px;
    max-width: 100%;
    position: relative;
    border-radius: 50px;
    text-align: center;
}
    
#imagen_2{
    margin: 15px;
    padding: 0;
    height: 380px;
    max-width: 100%;
    position: relative;
    border-radius: 50px;
    text-align: center;
}
    
.contenedor-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    
#panel_1{
    width: 500px;
    margin: 30px;
    border-radius: 25px;
    background-color: cornflowerblue;
    border: none;
}
    
#panel_2{
    width: 500px;
    margin: 30px;
    border-radius: 25px;
    background-color: cornflowerblue;
    border: none;
}
    
#panel_1 h1{
    font-size: 20px;
    text-align: center;
}
    
#panel_1 p{
    font-size: 12px;
    text-align: left;
}
    
#panel_2 h1{
    font-size: 20px;
    text-align: center;
}
    
#panel_2 p{
    font-size: 12px;
    text-align: left;
}
    
#p1{
    text-align: justify;    
}

#p2{
    text-align: center;
    color: white;    
}

#imagen_3{
    margin: 15px;
    padding: 0;
    height: 380px;
    max-width: 100%;
    position: relative;
    border-radius: 50px;
    text-align: center;
}
        
#imagen_4{
    margin: 15px;
    padding: 0;
    height: 380px;
    max-width: 100%;
    position: relative;
    border-radius: 50px;
    text-align: center;
}

#panel_3{
    width: 500px;
    margin: 30px;
    border-radius: 25px;
    background-color: cornflowerblue;
    border: none;
}
    
#panel_4{
    width: 500px;
    margin: 30px;
    border-radius: 25px;
    background-color: cornflowerblue;
    border: none;
}
    
#panel_3 h1{
    font-size: 20px;
    text-align: center;
}
        
#panel_3 p{
    font-size: 12px;
    text-align: left;
}
    
#panel_4 h1{
    font-size: 20px;
    text-align: center;
}
        
#panel_4 p{
    font-size: 12px;
    text-align: left;
}

#title{
    text-align: center;
    color: white;
    font-size: 60px;
}

table, th, td {
    border: 2.5px solid black;
    background-color: white;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    text-align: center;
}

#cuadro{
    width: 500px;
    margin: 10px;
    border-radius: 25px;
    background-color: cornflowerblue;
    border: 1px;
}